boto
certifi
chardet
cycler
dataclasses
future
idna
kiwisolver
matplotlib>=3.3.1
numpy>=1.19.1
opencv-python
openpifpaf>=0.11.7
pandas>=1.1.1
Pillow>=7.2.0
pyparsing
pysparkling
python-dateutil
python-json-logger
pytz
requests
scipy
six
torch>=1.6.0
torchvision>=0.7.0
urllib3==1.26.19
